body{
    background-color: rgb(3, 3, 3);
    margin: auto;
    padding: 1%;

    
}
hr{
   border-color: brown;
   border-radius: 50px;
   border-style:dotted;
   border-width: 3px;
   border-spacing: 30%;
}
h1{
    color:red;
    font-style: italic;
    text-align: center;
    
    
}
h2{
    color:red;
    font-style: italic;
    text-align: center;
    
    
}
#GitHub{
    background-color:black;
    color: brown;
    font-style: oblique;
    border-radius: 50px;
    border-color: brown;
    border-style: dotted;
    border-width: 3px;
}
#download{
    background-color:black;
    color: brown;
    font-style: oblique;
    border-radius: 50px;
    border-color: brown;
    border-style: dotted;
    border-width: 3px;
}
#dow-yt{
    background-color:black;
    color: brown;
    font-style: oblique;
    border-radius: 50px;
    border-color: brown;
    border-style: dotted;
    border-width: 3px; 

}
.img{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
 
}
#img_id{
    border-radius: 50px;
    border-style: double;
    padding: 2%;


}
#Info{
    background-color:black;
    color: brown;
    font-style: oblique;
    border-radius: 50px;
    border-color: brown;
    border-style: dotted;
    border-width: 3px;
}
p{
    color: red;
    font-style: italic;
    text-align: center;
}

.dwipcmd_bt{
    background-color:black;
    color: brown;
    font-style: oblique;
    border-radius: 50px;
    border-color: brown;
    border-style: dotted;
    border-width: 6px; 
    font-size: medium;
}
.ipgui_bt{
    background-color:black;
    color: brown;
    font-style: oblique;
    border-radius: 50px;
    border-color: brown;
    border-style: dotted;
    border-width: 6px; 
    font-size: medium;
}
.passgen_bt{
    background-color:black;
    color: brown;
    font-style: oblique;
    border-radius: 50px;
    border-color: brown;
    border-style: dotted;
    border-width: 6px; 
    font-size: medium;
}
.cimpx_bt{
    background-color:black;
    color: brown;
    font-style: oblique;
    border-radius: 50px;
    border-color: brown;
    border-style: dotted;
    border-width: 6px; 
    font-size: medium;
    
}
.apk_bt{
    background-color:black;
    color: brown;
    font-style: oblique;
    border-radius: 50px;
    border-color: brown;
    border-style: dotted;
    border-width: 6px; 
    font-size: medium;
    
}

#css_home{
    background-color:black;
    color: brown;
    font-style: oblique;
    border-radius: 50px;
    border-color: brown;
    border-style: dotted;
    border-width: 3px; 
    font-size: medium;
    
}

.yt_bt{
    background-color:black;
    color: brown;
    font-style: oblique;
    border-radius: 50px;
    border-color: brown;
    border-style: dotted;
    border-width: 6px; 
    font-size: medium;

}
.bt_dwn{
    background-color:black;
    color: brown;
    font-style: oblique;
    border-radius: 50px;
    border-color: brown;
    border-style: dotted;
    border-width: 6px; 
    font-size: medium;
    
}
